<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>

<p>
  <strong>Events:</strong>
  <%= @user.events %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
